.phone-slug {
  padding:20px 0;
  background:#FFF;
  .col-sm-6:nth-of-type(1) {
    text-align:right;
    @media (max-width:767px) {
      text-align:center;
    }
  }
  .col-sm-6:nth-of-type(2) {
    text-align:left;
    border-left:2px solid #5E6260;
    @media (max-width:767px) {
      text-align:center;
      border-left:none;
    }
  }
  .new-hotline-text {
    /* New Patient Hotline: */
    font-family: $proxima;
    font-size: 21px;
    color: #5E6260;
    font-weight:400;
    margin-bottom:-15px;
    @media (max-width:600px) {
      margin-bottom:-10px;
    }

  }
  .new-hotline-phone {
    font-family: $proxima;
    font-size: 40px;
    color: #079698;
    letter-spacing: -0.56px;
    @media (max-width:600px) {
      font-size:30px;
    }
  }
  .old-hotline-text {
    /* Existing patients of: */
    font-family: $proxima;
    font-size: 21px;
    color: #5E6260;
    line-height: 21px;
    margin-bottom:0;
    @media (max-width:767px) {
      line-height:28px !important;
    }
  }
  .old-hotline-phone {
    font-family: $proxima;
    font-size: 21px;
    color: #5E6260;
    line-height: 21px;
    margin-bottom:0;
    @media (max-width:767px) {
      color:#079698;
      font-size:26px;
      line-height:10px;
    }
  }
  a:hover {
    text-decoration:none;
  }
  .button {
  @media (max-width:767px) {
    margin-bottom:10px;
  }
  }
}