

#specials  {
  background:url(../images/offer-bkgd.jpg) no-repeat;
  background-size:cover;
  background-attachment:fixed;
  padding-bottom:120px;
  h2 {
    margin-bottom:0;
    font-weight:400;
    font-family: $proxima;
    font-size: 60px;
    color: #1B3C3C;
    line-height: 50px;
    @media (max-width:500px) {
      font-size:40px;
      line-height:40px;
    }
  }
  h3 {
    font-weight:400;
    font-family: $libre;
    font-style:italic;
    font-size: 24px;
    color: #079698;
    letter-spacing: -0.34px;
    line-height: 35px;
    @media (max-width:500px) {
      font-size:22px;
    }
  }
  .new-patient {

  }
  .three-blocks {


    .specials-bottom {
      text-align:center;
      padding:5.5em 1em 0em 1em;
      border-radius:0 0 100px 0;
      .save {
        font-family:'Lato', sans-serif;
        font-weight:400;
        font-size:18px;
        text-align:center;
        margin-bottom:20px;
      }
      .label {
        font-family: $libre;
        font-size: 14px;
        color: #5E6260;
        font-weight:400;
        font-style:italic;
      }
      .description {
        font-weight:400;
        margin-bottom:10px;
        margin-top:30px;
        font-family: $proxima;
        font-size: 18px;
        color: #5E6260;
        letter-spacing: -0.25px;
        line-height: 22px;
      }
    }
    .specials-top {
      border-radius:100px 0 0 0;
      text-align:center;

      padding:1em;
      height:28%;
      padding-bottom:50px;
      margin-bottom:10px;
      @media (max-width:991px) {
        padding-bottom:75px;
      }
      @media (max-width:500px) {
      }
    }
    .specials-bottom {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.23);

      background:#FFF;
      height:420px;

    }
    .specials-circle-wrap {
      text-align:center;
      display:flex;
      align-items:center;
      justify-content:center;

    }
    .specials-circle {
      border-radius:9999px;
      color:#FFF;
      padding:1.25em;
      position:relative;
      margin:-60px 0;

    }
    .dollar {
      font-family: 'Lato', sans-serif;
      font-size:36px;
      color:#FFF;
      top:-40px;
      position:relative;

    }
    .price {
      font-family: $libre;
      font-style:italic;
      font-weight:700;
      left:-5px;
      position:relative;
      font-size: 72px;
      color: #FFFFFF;


    }
    display:flex;
    justify-content:space-between;
    @media (max-width:991px) {
      flex-wrap:wrap;
      justify-content:center;
    }
    .block {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.23);

      border-radius:100px 0 100px 0;
      h6 {
        font-family: $proxima;
        font-size: 40px;
        color: #079698;
        line-height: 30px;
      }

    }
    #block-1 {

      h6 {
        color:#079698;
      }
      background: #A3DDDD;
      .specials-top {
        background:#079698;

      }
      .specials-circle {
        background:#66C4C5;
        border-radius:9999px;

      }
      .save {
        color:#079698;
      }
    }
    #block-2 {
      h6 {
        color:#BB8462;
      }
      background:#C7A895;
      .specials-top {
        background:#97461A;

      }
      .specials-circle {
        background:#BB8462;
      }
      .save {
        color:#BB8462;
      }
    }
    #block-3 {
      h6 {
        color:#F16573;
      }
      background:#ED939C;
      .specials-top {
        background:#D64553;
      }
      .specials-circle {
        background:#F16573;
      }
      .save {
        color:#F16573;

      }
    }
    .block {
      width:33.3333%;
      margin:1.3em;
      h6 {
        font-family: 'Montserrat', sans-serif;
        font-weight:300;
        font-size: 33px;
        color: #FFFFFF;
        margin-bottom:0;
      }
      h5 {
        font-family: 'Montserrat', sans-serif;
        font-size: 33px;
        font-weight:700;
        color: #FFFFFF;
        letter-spacing: -0.46px;
        line-height: 35px;
      }

      @media (max-width:991px) {
        width:60%;
        align-self:center;
      }
      @media (max-width:767px) {
        width:100%;
        margin-left:0;
        margin-right:0;
      }
    }
  }
}